<h1>Articles</h1>
<div class="text-center">

<%= will_paginate @articles %>

<% @articles.each do |article| %>
  <%= render 'articles/article', article: article %>
<% end %>

<%= will_paginate @articles %>

<p><%= link_to 'Create new article', new_article_path %></p>
</div>