<div class="ui mini inverted menu">
  <div class="ui container">
    <a class="item">
      Home
    </a>
    <a class="item">
      Messages
    </a>
    <a class="item">
      English
    </a>
    <a class="item">
      Russian
    </a>
    <a class="item">
      Spanish
    </a>
      <a class="item">
      Sign up
    </a>
  </div>
</div>